body
    {background: url('http://i267.photobucket.com/albums/ii284/mrsfjl66/st_zpsvlib0lbm.png') repeat fixed center center/ cover rgba(0, 0, 0, 0);
		font-family: 'Cabin Condensed', sans-serif;
		font-weight: 400;
		font-size: 16px;
		color: black;
		}

    h1 {font-family: 'Six Caps', sans-serif;
		font-weight: 400;
		font-size: 60px;
		color: black;
			}

	.errors {text-transform: capitalize;
				color: red;}